/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KExcOPIDU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0O6tLR8a8zI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Universal Code */
body {
  font-size: 16px;
  max-width: 1200px;
}
h2 {
  font-family: "PTSans-Bold",sans-serif;
  font-size: 2em;
  color: rgb(68 68 68);
}
h3 {
  font-family: "PTSans-Bold",sans-serif;
  color: rgb(68 68 68);
}
h4 {
  font-family: "PTSans-Bold", sans-serif;
  color: rgb(68 68 68);
  font-size: 1.5em;
}
p {
  font-family: "PTSans-Regular", sans-serif;
  color: rgb(68 68 68);
}
#readmore {
  font-family: "PTSans-Regular", sans-serif;
}
/*Header*/
.header {
  height: 64px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 1;
  background-color: rgb(255 255 255);
}
.logo {
  margin-left: 24px;
}
.navbar {
  margin-left: 520px;
  margin-right:24px;
}
.navbar ul {
  display: flex;
}
.campus  {
  margin-right: 16px;
}
.online {
  margin-right: 16px;
}
.navbar {
  font-size: 1.15em;
  font-family: "PTSans-Regular",sans-serif;
}
.header .logo {
  flex-grow: .4;
  width: 24px;
}
.header .title1 {
  font-family: "PTSans-Bold", sans-serif;
  font-size: 2em;
  color: rgb(68 68 68);
}
.header .title2 {
  font-family: "PTSans-Regular", sans-serif;
  font-size: 2em;
  color: rgb(128 128 128);
}
/*Learn Something*/
.learn {
  font-family: "PTSans-Bold",sans-serif;
  color: rgb(68 68 68);
  font-size: 2.5em;
}
.banner2-para {
  font-family: "PTSans-Regular",sans-serif;
  color: rgb(68 68 68);
  font-size: 1.5em;
}
.large-container1 {
  position: relative;
  top: 64px;
  display: flex;
  height: 600px;
  width: 1150px;
  background-color: rgb(212 212 212);
  align-items: center;
  overflow: hidden;
}
.large-container1 .banner-img {
  height: auto;
  width: 60%;
  margin: 32px 24px;
}
.banner2 {
  margin-left: 24px;
  margin-right: 50px;
}
.start-btn {
  height: 32px;
  color: rgb(255 255 255);
  background-color: rgb(68 68 68);
  padding-left: 130px;
  padding-top: 10px;
  font-family: "PTSans-Regular",sans-serif;
}
/*It Doesn't Hurt*/
.large-container2 {
  position: relative;
  top: 63px;
  display: flex;
  height:600px;
  overflow: hidden;
}
.large-container2 .info-image {
  width: 90%;
  height: auto;
  margin: 32px 24px;
}
.info-verbage {
  margin-bottom: 32px;
  margin-left: 24px;
  display: inline-block;
  width: 600px;
}
.row1 {
  display: inline-flex;
  height: 169px;
}
.row1-verbage {
  color: rgb(68 68 68);
  position: relative;
  top: 30px;
  left: 20px;
  height: 100px;
  width: 400px;
}
.orientation-image  {
  width: 30%;
  height: auto;
  margin: 22px 14px;
}
.row2 {
  display: inline-flex;
  height: 169px;
}
.row2-verbage {
  color: rgb(68 68 68);
  position: relative;
  top: 30px;
  left: 20px;
  height: 100px;
  width: 400px;
}
.campus-image  {
  width: 30%;
  height: auto;
  margin: 22px 14px;
}
.row3 {
  display: inline-flex;
  height: 164px;
  background-color: rgb(212 212 212);
}
.row3-verbage {
  color: rgb(68 68 68);
  position: relative;
  top: 30px;
  left: 20px;
  height: 100px;
  width: 400px;
}
.lecture-image  {
  width: 30%;
  height: auto;
  margin: 22px 14px;
}
/*Start Learning*/
.large-container3 {
  position: relative;
  top:62px;
  background-color: rgb(232 232 232);
}
.learning-header {
  margin: 32px;
  position: relative;
  left: 450px;
}
.coursesrow1 {
  display: flex;
  margin-left: 72px;
  margin-right: 72px;
  margin-bottom: 32px;
}
.course1-image {
  width: 100%;
  height: auto;
}
.course2-image {
  width: 90%;
  height: auto;
}
.course3-image {
  width: 100%;
  height: auto;
}
.course2 {
  margin-left: 32px;
}
.class-title {
  font-size: 1.5em;
  margin-top: 16px;
}
.courses {
  margin-top: 8px;
  margin-bottom: 8px;
}
.class-info {
  width: 70%;
}
.course1 {
  background-color: rgb(255 255 255);
}
.hidden {
  visibility: hidden;
}
.class-title, .class-info {
  margin-left: 16px;
}
.course2 {
  background-color: rgb(255 255 255);
}
.course3 {
  background-color: rgb(255 255 255);
}
.course4 {
    background-color: rgb(255 255 255);
}
.course5 {
  background-color: rgb(255 255 255);
}
.course6 {
  background-color: rgb(255 255 255);
}
.coursesrow2 {
  display: flex;
  margin-left: 72px;
  margin-right: 72px;
  margin-bottom: 32px;
}
.course4-image {
  width: 100%;
  height: auto;
}
.course5-image {
  width: 100%;
  height: auto;
}
.course6-image {
  width: 100%;
  height: auto;
}
.course5 {
  margin-left: 32px;
}
.course6 {
  margin-left: 32px;
}
/*Thesis Exhibit*/
.large-container4 {
  display: flex;
  position: relative;
  top: 30px;
  height: 600px;
  border-bottom-color: rgb(212 212 212);
}
.thesis-header {
  position: relative;
  top: 20px;
  left: 440px;
  margin: 35px;
}
.thesis-column1 {
  position: relative;
  top: 91px;
  right: 160px;
  margin: 32px 24px;
}
.thesis-column1 video {
  width: 100%;
  height: auto;
}
.reimagine-header {
  margin-top: 24px;
  font-size: 1.3em;
}
.thesis-verbage {
  margin-top: 8px;
  margin-bottom: 32px;
  color: rgb(92 92 92);
  font-size: 1.1em;
}
.thesis-column2 {
  position: relative;
  right: 161px;
  top: 123px;
  width: 150%;
}
.thesis-row1 {
  display: inline-flex;
  width: 100%;
  height: 200px;
  background-color: rgb(212 212 212);
}
.thesis-image {
  width: 35%;
  height: auto;
  margin: 16px;
}
.fisma-header {
  font-size: 1.3em;
  padding-top: 40px;
}
.designer {
  font-size: 1.1em;
}
.thesis-row2{
  display: inline-flex;
  width: 100%;
  height: 200px;
}
.nyc-image {
  width: 35%;
  height: auto;
  margin: 16px;
}
.nyc-header {
  font-size: 1.3em;
  padding-top: 70px;
}
.research {
  font-size: 1.1em;
}
/*Footer*/
.footer {
  border-top: solid grey 1px;
}
.title3 {
  margin-left: 24px;
  font-size: .8em;
  color: rgb(92 92 92);
  padding-top: 16px;
}
ul li {
  display: inline-flex;
  position: relative;
  left: 1030px;
  bottom: 10px;
  margin-right: 15px;
  color: rgb(92 92 92);
  padding-bottom: 26px;
}
